<% @page_title = "Edit Appointment" %>

<div class="well">

<h3>Edit Appointment</h3>

<%= form_for :appointment, url: appointment_path(@appointment), method: :patch do |request| %>

<% if @appointment.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being edited:
        </h2>
        <ul>
            <% @appointment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<p>
    Tutor Name:     <%=User.find(@appointment.tutorID).first_name%> <%=User.find(@appointment.tutorID).last_name%><br>
    Student Name:   <%=User.find(@appointment.studentID).first_name%> <%=User.find(@appointment.studentID).last_name%><br>
    Course Name:    <%=Course.find(@appointment.courseID).course_number%>    
</p>
    
<p>
    <%= request.label :apptDate, 'Appointment Date (YYYY-MM-YY):' %><br>
    <%= request.date_field :apptDate %>
</p>

<p>
    <%= request.label :startTime, 'Start Time:' %><br>
    <%= request.time_field :startTime %>
</p>

<p>
    <%= request.label :endTime, 'End Time:' %><br>
    <%= request.time_field :endTime %>
</p>

<p>
    <%= request.label :note, 'Special Request (Notes):' %><br>
    <%= request.text_area :note, cols: "60", rows: "10" %>
</p>

<p>
    <%= request.submit :class => 'btn btn-info' %>
</p>

<%= link_to 'Back', :back, :class => 'btn btn-primary' %>

<% end %>
    
</div>