<div class="row">
		<div class="col-sm-1">
		    <div class ="img-responsive user photo">
		                <%= image_tag User.find(comment.user_id).photo.url(:thumb) %>
			</div>
		</div>

	<div class="col-sm-5">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <strong><%= User.find(comment.user_id).first_name + " " + User.find(comment.user_id).last_name %></strong> <span class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</span> 
			    <span><%= link_to "", [comment], class: 'glyphicon glyphicon-trash',
			               method: :delete if @current_user.email == User.find(comment.user_id).email  %></span>
			</div>
			<div class="panel-body">
				<p class="comment_body"><%= comment.body %></p>
			</div>
		</div>

	</div>
	<div class="col-sm-6"></div>
</div>

<hr>
