<% @page_title = "Team" %>
    <!-- Team Section -->
    <section id="team" class="well bg-light-gray">
            <div class="row text-center bottom-spacer">
                    <h3 class="section-heading">Our Amazing Team</h3>
                    <h4 class="section-subheading text-muted">Members of the project</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path( 'team/keyhan.png' ) %>" class="img-responsive img-circle" alt="Keyhan Dehghanio">
                        <h4>Keyhan Dehghani</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="share-buttons">
                          <li><a href="https://www.facebook.com/" title="Share on Facebook" target="_blank"><img src="<%= asset_path( 'team/Facebook.svg' ) %>"></a></li>
                          <li><a href="https://plus.google.com/" target="_blank" title="Share on Google+"><img src="<%= asset_path( 'team/Google.svg' ) %>"></a></li>
                          <li><a href="http://www.linkedin.com/" target="_blank" title="Share on LinkedIn"><img src="<%= asset_path( 'team/LinkedIn.svg' ) %>"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path( 'team/siavosh.png' ) %>" class="img-responsive img-circle" alt="Siavosh Shirgiri">
                        <h4>Siavosh Shirgir</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="share-buttons">
                          <li><a href="https://www.facebook.com/" title="Share on Facebook" target="_blank"><img src="<%= asset_path( 'team/Facebook.svg' ) %>"></a></li>
                          <li><a href="https://plus.google.com/" target="_blank" title="Share on Google+"><img src="<%= asset_path( 'team/Google.svg' ) %>"></a></li>
                          <li><a href="http://www.linkedin.com/" target="_blank" title="Share on LinkedIn"><img src="<%= asset_path( 'team/LinkedIn.svg' ) %>"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path( 'team/savio.png' ) %>" class="img-responsive img-circle" alt="Savio Lam">
                        <h4>Savio Lam</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="share-buttons">
                          <li><a href="https://www.facebook.com/" title="Share on Facebook" target="_blank"><img src="<%= asset_path( 'team/Facebook.svg' ) %>"></a></li>
                          <li><a href="https://plus.google.com/" target="_blank" title="Share on Google+"><img src="<%= asset_path( 'team/Google.svg' ) %>"></a></li>
                          <li><a href="http://www.linkedin.com/" target="_blank" title="Share on LinkedIn"><img src="<%= asset_path( 'team/LinkedIn.svg' ) %>"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path( 'team/Arsalan.png' ) %>" class="img-responsive img-circle" alt="Arsalan Noroozzadeh">
                        <h4>Arsalan Noroozzadeh</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="share-buttons">
                          <li><a href="https://www.facebook.com/" title="Share on Facebook" target="_blank"><img src="<%= asset_path( 'team/Facebook.svg' ) %>"></a></li>
                          <li><a href="https://plus.google.com/" target="_blank" title="Share on Google+"><img src="<%= asset_path( 'team/Google.svg' ) %>"></a></li>
                          <li><a href="http://www.linkedin.com/" target="_blank" title="Share on LinkedIn"><img src="<%= asset_path( 'team/LinkedIn.svg' ) %>"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="<%= asset_path( 'team/Ali.png' ) %>" class="img-responsive img-circle" alt="Ali Taghavi">
                        <h4>Ali Taghavi</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="share-buttons">
                          <li><a href="https://www.facebook.com/" title="Share on Facebook" target="_blank"><img src="<%= asset_path( 'team/Facebook.svg' ) %>"></a></li>
                          <li><a href="https://plus.google.com/" target="_blank" title="Share on Google+"><img src="<%= asset_path( 'team/Google.svg' ) %>"></a></li>
                          <li><a href="http://www.linkedin.com/" target="_blank" title="Share on LinkedIn"><img src="<%= asset_path( 'team/LinkedIn.svg' ) %>"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
    </section>